.main {
    width: 100%;
    max-width: 630px;
    margin: auto;
    background: #fff;
    border-radius: 4px;
  }
  
.main .menu {
    position: relative;
    padding: 15px 15px 15px 45px;
    color: #4d4d4d;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    transition: all 0.4s ease;
  }
  
  .main li:last-child .menu {
    border-bottom: 0;
  }
  
  .main li i {
    position: absolute;
    top: 1.2rem;
    left: 1rem;
    color: #595959;
    transition: all 0.4s ease;
  }
  
  .main li i.fa-chevron-down {
    right: 1rem;
    left: auto;
  }
  
  .main li.active i.fa-chevron-down {
    transform: rotate(180deg);
  }
  
  .main li.active .menu {
    color: #b63b4d;
  }
  
  .main li.active i {
    color: #b63b4d;
  }
  
  
  
  .submenu {
    height: 0;
    overflow: hidden;
    background: #444359;
    font-size: 14px;
    transition: height 0.4s ease;
  }
  
  .submenu li {
    border-bottom: 1px solid #4b4a5e;
  }
  
  .main li:last-child .submenu {
    border-radius: 0 0 4px 4px;
  }
  
  .main li:last-child .submenu li:last-child {
    border-bottom: 0;
  }
  
  .submenu a {
    display: block;
    text-decoration: none;
    color: #d9d9d9;
    padding: 12px;
    padding-left: 42px;
    transition: all 0.25s ease-in-out;
  }
  
  .submenu a:hover {
    background: #b63b4d;
    color: #fff;
  }