<div *ngIf="responseMessage">
  <ul id="main" class="main">
    <li *ngFor="let subMenu of responseMessage.message.menus; let i = index" [class.active]="subMenu.active">
      <div class="menu" (click)="toggle(i)">
        {{ subMenu.key }}
        <i class="fa fa-chevron-down"></i>
      </div>
      <ul class="submenu" #submenu [style.height.px]="subMenu.active ? submenu.scrollHeight : 0"> 
        <li *ngFor="let submenu of subMenu.items">
          <a>{{ submenu.name }}</a>
        </li>
      </ul>
    </li>
  </ul>
</div>